@import "./utilities";

footer {
	background-color: $bodycolor;
	color: $sometextcolor;

	.flex {
		display: flex;
		flex-direction: column;
	}

	.footer {
		.footer__header,
		.footer__caption {
			text-align: center;
			margin-bottom: 20px;
		}

		.footer__Notification {
			display: flex;

			.footer__Notificationinput {
				padding: 5px;
				border: 1px solid #01e08f;
				border-radius: 4px;
				background: transparent;
				width: 350px;
				height: 40px;
				margin-left: 40px;
			}

			::placeholder {
				color: rgb(211, 208, 208);
			}
			.footer__Notificationbutton {
				padding: 5px;
				background: $sometextcolor;
				color: $bodycolor;
				border-radius: 4px;
				margin-left: 40px;
			}
		}
	}

	.footer2 {
		display: flex;
		justify-content: space-between;
		.footer__icon {
			width: 20px;
			height: 20px;
		}
		ul {
			color: $sometextcolor;
		}
		li {
			list-style: none;
			padding: 12px;
			font-size: 16px;
		}
	}
}
