// global container for centering

.container {
	display: block;
	margin: auto;
	width: 60%;
}

//Added a global margin top style to each section
.Margintop {
	margin-top: 100px;
}

.marginleft {
	margin-left: 50px;
}
