@import "./variables";
@import "./footer";
@import "./utilities";
@import "./resources";

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: $bodycolor;
}

.flex {
	display: flex;
	// justify-content: flex-start;
}

.News__siteheader {
	background-image: url(/greenFoundation/images/ian-schneider-TamMbr4okv4-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: 389px;

	.siteheader__nav > a,
	li a {
		color: rgb(0, 0, 0);
	}

	.container {
		width: 60%;
		.siteheader__nav {
			display: flex;
			justify-content: space-between;
			.siteheader__navlinks {
				display: flex;
				.siteheader__navlink {
					list-style: none;
					margin-left: 25px;
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.resources__header > h1,
.resources__span {
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	text-align: center;
}

.careers__container {
	width: 1038px;
	height: 472px;
	margin: 0 auto;
	margin-bottom: 27px;

	.careers__flex {
		display: flex;

		.careers__blocktext {
			color: $bodycolor;
			margin-left: 20px;

			.careers__paragraph {
				color: $bodycolor;
				text-align: left;
			}
			.careers__button {
				background: transparent;
				color: $bodycolor;
				border-color: transparent;
			}
		}

		.careers__blocktext2 {
			color: $bodycolor;
			// margin-left: 20px;

			.careers__paragraph {
				color: $bodycolor;
			}
			.careers__button {
				background: transparent;
				color: $bodycolor;
				border-color: transparent;
			}
		}
	}
}

.careers__container {
	.careers__header {
		text-align: center;
		color: $bodycolor;
	}
	.careers__subheading {
		color: $bodycolor;
	}

	.flex {
		display: flex;

		.careers__perksandbenefitsblock {
			padding: 35px;
			// padding-top: 20px;
			// padding-bottom: 50px;
			background-color: #f3f6fa;
			margin-right: 63px;
			margin-bottom: 20px;
			border-radius: 8px;
		}
	}
}
