@import "./variables";

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: $bodycolor;
}

.flex {
	display: flex;
	// justify-content: flex-start;
}

.News__siteheader {
	background-image: url(/greenFoundation/images/pexels-efdal-yildiz-917494.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: 389px;

	.container {
		margin-right: auto;
		margin-left: auto;
		width: 1110px;
		padding-right: 10px;
		padding-left: 10px;
		color: white;
		// color: aquamarine;

		.siteheader__nav {
			display: flex;
			justify-content: space-between;

			.siteheader__navlinks {
				display: flex;
				color: white;

				.siteheader__navlink {
					list-style: none;
					margin-left: 25px;
					color: white;

					a {
						text-decoration: none;
					}
				}
			}
		}
	}
}

header,
p {
	color: white;
	margin-bottom: 20px;
	text-align: center;
}

.photoblog__container {
	margin: 0 auto;
	width: 1110px;
	.photoblog__image {
		width: 1110px;
		height: 714px;
		border-radius: 27px;
	}
	p {
		color: $bodycolor;
	}
}

.photoblog__h1 {
	text-align: center;
	color: $bodycolor;

	// .photoblog__container {
	.photoblog__runnerups {
		width: 20px;
		height: 20px;
		margin-left: 27px;
	}
}

.photoblogcomment__h1 {
	text-align: center;
	color: $bodycolor;
}
.photoblogcomment__container {
	width: 1011px;
	height: 259px;
	margin: 0 auto;
	// .photoblogcomment__avatar {
	// 	width: 44px;
	// 	height: 42px;
	// 	border-radius: 20px;
	// }
	.photoblogcomment__input {
		width: 919px;
		height: 184px;
		border-radius: 8px;
		background-color: #f3f6fa;
	}
	.photoblogcomment__button {
		padding: 15px;
		background-color: $bodycolor;
		color: white;
	}
	// figure {
	// 	.photoblogcomment__avatar {
	// 		width: 44px;
	// 		height: 42px;
	// 		border-radius: 20px;
	// 	}
	// }
}

// }

footer {
	background-color: $bodycolor;
	color: $sometextcolor;
}

.footer__container {
	width: 1200px;
	margin: 0 auto;

	h1,
	p {
		text-align: center;
	}

	p {
		margin-bottom: 20px;
	}

	.footer__Notification {
		margin: 0 auto;
		width: 70%;

		.footer__Notificationinput {
			padding: 5px;
			border: 1px solid #01e08f;
			border-radius: 4px;
			background: transparent;
			width: 350px;
			height: 40px;
		}
		::placeholder {
			color: rgb(211, 208, 208);
		}

		.footer__Notificationbutton {
			padding: 5px;
			background: $sometextcolor;
			color: $bodycolor;
			border-radius: 4px;
		}
	}
}
.footer {
	display: flex;
	// background-color: $bodycolor;
	// color: $sometextcolor;
	justify-content: space-between;

	.footer__icon {
		width: 20px;
		height: 20px;
	}

	ul {
		color: #01e08f;
	}
	li {
		list-style: none;
		padding: 12px;
		font-size: 16px;
	}
}
