@import "./variables";
@import "./footer";
@import "./utilities";
@import "./resources";

.flex {
	display: flex;
}

.siteheader {
	background-image: url(/greenFoundation/images/pexels-karolina-grabowska-4218590.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 575px;
}

.siteheader__nav > a,
li a {
	color: white;
}

.container {
	width: 60%;
	.siteheader__nav {
		display: flex;
		justify-content: space-between;
		.siteheader__navlinks {
			display: flex;
			.siteheader__navlink {
				list-style: none;
				margin-left: 25px;
				a {
					text-decoration: none;
				}
			}
		}
	}
}

// global style modified
.container--modified {
	display: block;
	margin: auto;
	width: 85%;
}

figure {
	padding: 20px;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.05);
	// box-shadow: -10px -5px 5px rgba(0, 0, 0, 0.05);
	width: 401px;
	height: 490px;
	border-radius: 8px;

	.resources__video {
		width: 361px;
		height: 288px;
		margin-bottom: 12px;
		border-radius: 8px;
	}

	.resources__caption {
		margin-bottom: 12px;
		font-size: 14px;
	}

	.resources__subheading {
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 20px;
	}

	.resources__datename {
		font-size: 14px;
		margin-bottom: 12px;
	}

	.resources__icon {
		color: aqua;
	}
}
