.container {
  display: block;
  margin: auto;
  width: 60%;
}

.Margintop {
  margin-top: 100px;
}

.marginleft {
  margin-left: 50px;
}

footer {
  background-color: #273655;
  color: #01e08f;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__header,
footer .footer .footer__caption {
  text-align: center;
  margin-bottom: 20px;
}

footer .footer .footer__Notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .footer__Notification .footer__Notificationinput {
  padding: 5px;
  border: 1px solid #01e08f;
  border-radius: 4px;
  background: transparent;
  width: 350px;
  height: 40px;
  margin-left: 40px;
}

footer .footer .footer__Notification ::-webkit-input-placeholder {
  color: #d3d0d0;
}

footer .footer .footer__Notification :-ms-input-placeholder {
  color: #d3d0d0;
}

footer .footer .footer__Notification ::-ms-input-placeholder {
  color: #d3d0d0;
}

footer .footer .footer__Notification ::placeholder {
  color: #d3d0d0;
}

footer .footer .footer__Notification .footer__Notificationbutton {
  padding: 5px;
  background: #01e08f;
  color: #273655;
  border-radius: 4px;
  margin-left: 40px;
}

footer .footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer2 .footer__icon {
  width: 20px;
  height: 20px;
}

footer .footer2 ul {
  color: #01e08f;
}

footer .footer2 li {
  list-style: none;
  padding: 12px;
  font-size: 16px;
}

.container {
  display: block;
  margin: auto;
  width: 60%;
}

.Margintop {
  margin-top: 100px;
}

.marginleft {
  margin-left: 50px;
}

.resources > header,
input,
p {
  color: white;
}

.resources .resources__header {
  margin-bottom: 20px;
  margin-top: 75px;
  text-align: center;
}

.resources .resources__span {
  margin-bottom: 15px;
  text-align: center;
}

.resources .resources__input {
  border: 1px solid white;
  border-radius: 4px;
  background: transparent;
  width: 640px;
  height: 50px;
  padding: 5px;
  margin-bottom: 15px;
  margin-left: 190px;
}

.resources ::-webkit-input-placeholder {
  color: white;
}

.resources :-ms-input-placeholder {
  color: white;
}

.resources ::-ms-input-placeholder {
  color: white;
}

.resources ::placeholder {
  color: white;
}

.resources .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 370px;
}

.resources .resources__caption {
  margin-top: 5px;
  margin-bottom: 0px;
}

.resources .resources__button1 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  margin-left: 15px;
}

.resources .resources__button2 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  margin-left: 15px;
}

.resources .resources__button3 {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
  margin-left: 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.siteheader {
  background-image: url(/greenFoundation/images/pexels-karolina-grabowska-4218590.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 575px;
}

.siteheader__nav > a,
li a {
  color: white;
}

.container {
  width: 60%;
}

.container .siteheader__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .siteheader__nav .siteheader__navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .siteheader__nav .siteheader__navlinks .siteheader__navlink {
  list-style: none;
  margin-left: 25px;
}

.container .siteheader__nav .siteheader__navlinks .siteheader__navlink a {
  text-decoration: none;
}

.container--modified {
  display: block;
  margin: auto;
  width: 85%;
}

figure {
  padding: 20px;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.05);
  width: 401px;
  height: 490px;
  border-radius: 8px;
}

figure .resources__video {
  width: 361px;
  height: 288px;
  margin-bottom: 12px;
  border-radius: 8px;
}

figure .resources__caption {
  margin-bottom: 12px;
  font-size: 14px;
}

figure .resources__subheading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
}

figure .resources__datename {
  font-size: 14px;
  margin-bottom: 12px;
}

figure .resources__icon {
  color: aqua;
}
/*# sourceMappingURL=Resourcespdf.css.map */